
.point_display {
  
}

.chara_row {
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  vertical-align: middle;
  top: calc(50% - 25px);
  left: calc(50% - 15px);
  background: #aaa;
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}